@import 'functions';

$factor : 2;
$white : #FBFBFB;
$black : #060606;

// Media queries

$breakpoint-01 : 513px;
$breakpoint-02 : 890px;
$breakpoint-03 : 1200px;
$breakpoint-04 : 1400px;
$breakpoint-05 : 1719px;

// END Media queries

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans";
    color: $black;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: $white;
}

strong {
    font-weight: 600;
}

.display-none {
    display: none;
}

.show-mobile {
    display: block;

    @media only screen and (min-width: $breakpoint-02) {
        display: none;
    }
}

.hide-mobile {
    display: none;

    @media only screen and (min-width: $breakpoint-01) {
        display: initial;
    }
}

.main-panel {
    padding: 32px 24px;
    transition: padding ease 0.2s;

    @media only screen and (min-width: $breakpoint-02) {
        padding: 48px;
        box-sizing: border-box;
        align-items: center;
        display: flex;    
    }

    @media only screen and (min-width: $breakpoint-03) {
        padding: 56px 64px;    
    }

    @media only screen and (min-width: $breakpoint-05) {
        width: 73%;
        padding: 56px 64px; 
    }
}

.logo {
    a {
        display: inline-block;

    }

    svg {
        width: sizeFactor(64px);
        height: sizeFactor(64px);
        display: block;
        margin-bottom: sizeFactor(24px);
    }
}

h1 {
    font-weight: 600;
    font-size: sizeFactor(32px);
    letter-spacing: -1.5px;
    margin-bottom: sizeFactor(16px);
    line-height: 1.12;

    @media only screen and (min-width: $breakpoint-02) {
        font-size: sizeFactor(36px);
    }

    @media only screen and (min-width: $breakpoint-04) {
        font-size: sizeFactor(40px);
    }

    .divider {
        font-size: sizeFactor(32px);
        padding: 0 8px;
    }

    a {
        color: $black;
        text-decoration: none;
        border-bottom: 6px solid $white;
        transition: border-bottom ease-out 0.3s, padding-bottom ease-out 0.3s;
        box-sizing: border-box;
        padding-bottom: 0px;

        &:hover {
            border-bottom: 6px solid $black;
            padding-bottom: 4px;
        }
    }
}

.intro {
    font-weight: 300;
    font-size: sizeFactor(12px);
    line-height: 1.4;
    margin-bottom: sizeFactor(16px);
    transition: font-size ease-out 0.25s;

    @media only screen and (min-width: $breakpoint-04) {
        font-size: sizeFactor(16px);
        letter-spacing: 1px;
        width: 100%;        
    }

    p:first-child {
        margin-bottom: sizeFactor(8px);

        @media only screen and (min-width: $breakpoint-04) {
            margin-bottom: sizeFactor(4px);
        }
    }

    strong {
        white-space: nowrap;
    }
}

.side-panel {
    display: none;

    @media only screen and (min-width: $breakpoint-05) {
        display: block;
        flex-grow: 1;
        background-color: green;
        min-height: 100%;
    }
}

nav ul {
    margin-bottom: 24px;

    @media only screen and (min-width: $breakpoint-03) {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    li {
        list-style: none;

        @media only screen and (min-width: $breakpoint-03) {
            margin-right: sizeFactor(24px);
            margin-bottom: 16px;
        }

        a {
            font-size: sizeFactor(14px);
            letter-spacing: 2px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            list-style-position: inside;
            color: $black;
            border-bottom: 5px solid $white;
            padding: 0 2px 0 4px;
            transition: 
                border-bottom ease-out 0.22s, 
                padding-bottom ease-out 0.3s,
                font-size ease-out 0.1s;
            padding-bottom: 0px;
            box-sizing: border-box;
            line-height: 56px;

            @media only screen and (min-width: $breakpoint-04) {
                font-size: sizeFactor(16px);
            }

            @media only screen and (min-width: $breakpoint-04) {
                &:hover {
                    border-bottom: 5px solid $black;
                    padding-bottom: 4px;
                }
            }
        }
    }
}

.content {
    font-size: sizeFactor(16px);
    line-height: sizeFactor(22px);

    p {
        margin-bottom: sizeFactor(16px);
        font-weight: 300;
        letter-spacing: 1px;
    }
}

.separator {
    padding: 0 8px;
    display: none;
    @media only screen and (min-width: 513px) {
        display: inline-block;
    }
}

.gallery {
    box-sizing: border-box;
    display: block;

    img {
        width: 100%;
        display: block;
        margin-bottom: 24px;
        box-sizing: border-box;
        border: 0px solid $white;
        transition: border ease-in-out 0.25s;

        @media only screen and (min-width: $breakpoint-01) {
            border: 16px solid $white;
        }

        @media only screen and (min-width: 1060px) {
            border: 24px solid $white;
        }

        @media only screen and (min-width: $breakpoint-03) {
            border: 56px solid $white;
        }

        @media only screen and (min-width: 1290px) {
            border: 72px solid $white;
        }
    }

    // a {
    //     position: relative;
    //     width: 100%;
    //     // height: calc(100vw / 3.5) + calc(100vw / 50);
    //     height: 33%;
    //     display: block;
    //     overflow: hidden;
    //     box-sizing: border-box;
    //     margin-bottom: 32px;
    //     // border: calc(100vw / 50) solid $white;
    //     transition: border ease-in-out 0.4s;

    //     // @media only screen and (min-width: $breakpoint-03) {
    //     //     height: calc(100vw / 3.5) + calc(100vw / 40);
    //     //     border: calc(100vw / 40) solid $white;
    //     // }

    //     // @media only screen and (min-width: $breakpoint-04) {
    //     //     height: calc(100vw / 3.6) + calc(100vw / 30);
    //     //     border: calc(100vw / 30) solid $white;
    //     // }

    //     // @media only screen and (min-width: $breakpoint-05) {
    //     //     height: calc(73vw / 3.5) + calc(100vw / 25);
    //     //     border: calc(73vw / 25) solid $white;
    //     // }

    //     img {
    //         position: absolute;
    //         left: 50%;
    //         top: 50%;
    //         height: 100%;
    //         transform: translate(-50%, -50%);
    //         transition: height ease-in-out 0.4s;
    //     }
    // }
}